.App {
  background-color: #282c34;
  color: white;
  font-size: 24px;
  min-height: 100vh;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.selectorContainer {
  display: flex;
  justify-content: center;
}

.selector {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 150px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 176px;
}
